<section class="gallery-section">
  <div class="container">
    <form class="search-form js-search-form" id="search-form">
      <input
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder="Search images..."
      />
      <button type="submit" class="search-btn">Search</button>
    </form>
    <div class="gallery">
      <!-- Картки зображень -->
    </div>
    <!-- <ul class="gallery js-gallery list"></ul> -->
    <div class="target-element"></div>
    <button type="button" class="load-more js-load-more is-hidden">
      Load more
    </button>
  </div>
</section>
